---
layout: 
---

<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="canonical" href="https://krasnodar.chelnyagregatcentre.ru/"/> 

  <title> Двигатели и запчасти КамАЗ в Краснодаре</title>
  <meta name="description" content="Двигатели, Редукторы, Коробки передач КПП, Кабины и запчасти КамАЗ, в наличии в Краснодаре - Челны АгрегатЦентр.">
  <meta property="og:description" content="Двигатели, Редукторы, Коробки передач КПП, Кабины и запчасти КамАЗ, в наличии в Краснодаре - ЧелныАгрегатЦентр.">
  <meta name="author" content="Челны Агрегат Центр ('ЧелныАгрегатЦентр')" />
  
  <meta property="og:title" content=" Двигатели и запчасти КамАЗ в Краснодаре" />
  <meta property="twitter:title" content=" Двигатели и запчасти КамАЗ в Краснодаре" />
  
  <!--title icon-->
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/favicon.ico" type="image/x-icon"/>

  <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/fonts/line-icons.css">
  <link rel="stylesheet" href="/assets/css/owl.carousel.min.css">
  <link rel="stylesheet" href="/assets/css/owl.theme.css">
 <link rel="stylesheet" href="/assets/css/magnific-popup.css">
  
  <link rel="stylesheet" href="/assets/css/animate.css">
  <link rel="stylesheet" href="/assets/css/main.css">
  <link rel="stylesheet" href="/assets/css/responsive.css">
  <link rel="stylesheet" href="/assets/css/nanogallery2.min.css">

  <!--Yandex-->
  <meta name="yandex-verification" content="4b2b039a1da3ca7c" />
  <meta name="google-site-verification" content="2Hy2ytyOCxDt-bKpOqxnXtcj-g4Z38OuuurBjNUdCGY" />
  
  <script src="/assets/js/jquery-min.js"></script>
  <script src="/assets/js/handlebars-v4.1.1.js"></script>
  <script>var submitted;</script>
  
</head>

<body>

  <!-- Header Area wrapper Starts -->
  <header id="header-wrap">
    <div class="head h-100">
      <div class="head__inner h-100">
        <!-- Navbar Start -->
        <nav class="navbar navbar-expand-lg bg-inverse fixed-top scrolling-navbar">
          <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <a href="/" class="navbar-brand" style="display: contents; max-width:60%;">ЧелныАгрегатЦентр - Краснодар</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
              aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
              <i class="lni-menu"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
              <ul class="navbar-nav mr-auto w-100 justify-content-end clearfix" id="top-submenu">
                <li class="nav-item active">
                  <a class="nav-link" href="javascript:" onclick="$('html, body').animate({ scrollTop: 0}, 600);" >
                    Начало
                  </a>
                </li>
                <!-- <li class="nav-item">
                  <a class="nav-link scroll-link" href="#catalog">
                    Направления
                  </a>
                </li> -->
               
               <!-- задняя часть меню подгружается  -->
               {% include top-submenu.html %}
             
              </ul>
            </div>
          </div>
        </nav>
        <!-- Navbar End -->

        <!-- Hero Area Start -->
        <!-- Hero Area Start -->
        <div id="hero-area" class="hero-area-bg">
          <div class="container w-100">
            <div class="row">
              <div class="col-md-8 col-xs-12">
                <div class="contents">
                  <ul>
                    <li style="margin-bottom:0px;">
                      <h1 class="title text-left w-100">Запчасти и агрегаты на технику КамАЗ</h1>
                    </li>
                    <li style="margin-top:0px;">
                      <h2 class="title w-100">со склада в Краснодаре </h2>
                    </li>
                    <li id="hero-menu">
                          <style>
                            #hero-menu a{
                              color:rgb(165, 196, 255);
                              /* font-size: 1.1em; */
                            }
                            #hero-menu i{ font-size: 0.7em; }
                            
                            </style>
                        <p class="title text-left w-100"> 
                            <i class="lni-chevron-right"></i> &nbsp; <a href="/dvigatel_kamaz_krasnodar.html"> Двигатели </a>
                            &nbsp;<i class="lni-chevron-right"></i>&nbsp;<a href="/korobka_peredach_kpp_kamaz_krasnodar.html"> Коробки передач </a>
                            &nbsp;<i class="lni-chevron-right"></i>&nbsp;<a href="/reductor_kamaz_krasnodar.html"> Редукторы </a>
                            &nbsp;<i class="lni-chevron-right"></i>&nbsp;<a href="/cabiny_kamaz_krasnodar.html"> Кабины </a>
                            &nbsp;<i class="lni-chevron-right"></i>&nbsp;<a href="/zapchasti_dvigatel_kamaz_krasnodar.html"> Запчасти на двигатели </a> </p>
                      </li>
                    <li>&nbsp;</li>
                    <li><i class="lni-check-mark-circle"></i>&nbsp;&nbsp;В наличии в Краснодаре, Москве, Наб.Челнах</li>
                    <li><i class="lni-check-mark-circle"></i>&nbsp;&nbsp;10 лет на рынке </li>
                    <li><i class="lni-check-mark-circle"></i>&nbsp;&nbsp;Быстрая доставка под заказ по Краснодарскому краю</li>
                    <li></li>
                      
                  </ul>
                </div>
              </div>
              <div class="col-md-4 col-xs-12 text-right">
                {% capture data_group %}
                  ["Двигатель ", "Двигатель Cummins ", "КПП ", "Редуктор " ]
                {% endcapture %}
                {% capture data_list %}
                  ["Двигатель 740.10-210 (Евро-0)", "Двигатель 74009.10-403 (Урал)", "Двигатель 740.11-240 (Евро-1)", "Двигатель 7403.10-260 (Турбо)", "Двигатель 740.13-260 (Евро-1)", 
                  "Двигатель 740.30-260 (Евро-2)", "Двигатель 740.31-240 (Евро-2)", "Двигатель 740.50-360 (Евро-2-3)", "Двигатель 740.51-320 (Евро-2-3)", "Двигатель 740.62-280 (Евро-3)", "Двигатель Cummins 4ISBe 185", "Двигатель Cummins 6ISBe 210", "Двигатель Cummins 6ISBe 285", "Двигатель Cummins 6ISBe 300", 
                  "КПП 14", "КПП 141 ", "КПП 142", "КПП 15", "КПП 152", "КПП 152 ЯМЗ", "КПП 154", "КПП ZF 16S151", "КПП ZF 9S 1310",
                  "Редуктор передний 4310-2302010", "Редуктор передний 43114-2302010", "Редуктор средний 4310-2502010", "Редуктор средний 43114-2502010", "Редуктор средний с МОД 5320-2502010", "Редуктор средний с МОД 53205-2502010", "Редуктор средний с МОД и МКБ 53205-2502011", "Редуктор задний 5320-2402010", "Редуктор задний 53205-2402010", "Редуктор задний МКБ 53205-2402011", "Редуктор задний МКБ 43253-2402011", "Редуктор задний 395 395-02.00.00", "Редуктор задний 43081-2402011-20", "Редуктор задний 43081-2402009-30", "Редуктор задний 6520 6520-2402011", "Редуктор средний 6520 6520-2502011"]
                {% endcapture %}
                {% include header_zakaz.html list=data_list group=data_group %}
              </div>  
   
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Hero Area End -->

  </header>
  <!-- Header Area wrapper End -->

<!-- Каталог направленй -->
<section id="catalog" class="section-padding" style="padding-top: 20px; ">
  <div class="container text-center">
    <!-- <div class="section-header text-center">
        <h2 class="section-title">ООО ЧелныАгрегатЦентр</h2>
        <div class="shape wow fadeInDown"></div>
        <p>Направления деятельности </p>
      </div> -->
    <div class="row">
      <!-- Services item -->
      <div class="col-md-6 col-lg-4 col-xs-12">
        <div class="services-item" style="visibility: visible;">
          <div class="services-content">
            <h3><a href="/dvigatel_kamaz_krasnodar.html">Двигатели КамАЗ</a></h3>
            <p>Любые модели двигателей на технику КамАЗ. Много моделей в наличии в Краснодаре. <br> </p>
            <!-- Мы продаём только качественные двигатели с гарантией и документами -->
          </div>
        </div>
      </div>

      <!-- Services item -->
      <div class="col-md-6 col-lg-4 col-xs-12">
        <div class="services-item" style="visibility: visible;">
          <div class="services-content">
            <h3><a href="/reductor_kamaz_krasnodar.html">Редукторы </a></h3>
            <p>Редукторы на КАМАЗ от 30'000 руб. Множество моделей в наличии.
            </p>
          </div>
        </div>
      </div>

      <!-- Services item -->
      <div class="col-md-6 col-lg-4 col-xs-12">
        <div class="services-item" style="visibility: visible;">
          <div class="services-content">
            <h3><a href="/korobka_peredach_kpp_kamaz_krasnodar.html">Коробки передач КПП</a></h3>
            <p>
              Весь модельный ряд коробок передач на технику КамАЗ: 14, 152, 154, ZF. 
            </p>
          </div>
        </div>
      </div>

      <!-- Services item -->
      <div class="col-md-6 col-lg-4 col-xs-12">
        <div class="services-item" style="visibility: visible;">
          <div class="services-content">
            <h3><a href="/zapchasti_dvigatel_kamaz_krasnodar.html">Запчасти для двигателей</a></h3>
            <p>
              Лучшие цены на запчасти для двигателей КамАЗ. Блоки цилиндров, Валы коленчатые.
            </p>
          </div>
        </div>
      </div>

      <!-- Services item -->
      <div class="col-md-6 col-lg-4 col-xs-12">
        <div class="services-item" style="visibility: visible;">
          <div class="services-content">
            <h3><a href="/zapchasti_dvigatel_kamaz_krasnodar.html">Запчасти КамАЗ</a></h3>
            <p>
              Привлекательные цены на запчасти КамАЗ. В наличии и под заказ. 
            </p>
          </div>
        </div>
      </div>


    </div>
  </div>
</section>


<section id="catalog" class="section-padding" style="padding-top: 20px; ">
    <div class="container text-center">
      <div class="section-header text-center">
        <a href="/dvigatel_kamaz_krasnodar.html">
          <h2 class="section-title"> Двигатели КамАЗ</h2>
        </a>
          <div class="shape wow fadeInDown"></div>  
        </div> 
     
        <div class="row" id="models_container">
          {% for item in site.data.dvigatel %}
            {% if item.first_page == "true" %}
            <div class="engine col-md-3 col-xs-6">
                <a href="https://chelnyagregatcentre.ru/kamaz-inf/motor/{{item.url}}.html" target="_blank">
                  <img src="https://chelnyagregatcentre.ru/assets/img/dvigatels/{{item.img}}" alt="{{item.name}}"
                    class="img-thumbnail" style="object-fit: cover;width: 100%;height: 150px;padding: 0px" />
                  <div style="font-size: 13px;line-height: 15px; padding-top:4px; ">{{item.name}}<br>({{item.eco}},{{item.power}})</div>
                </a>
            </div>
            {% endif %}
          {% endfor %}
        </div>
    </div>
  </section>


  
<section id="catalog" class="section-padding" style="padding-top: 20px; ">
    <div class="container text-center">
      <div class="section-header text-center">
        <a href="/korobka_peredach_kpp_kamaz_krasnodar.html">
          <h2 class="section-title"> Коробки передач КамАЗ в г. Краснодар</h2>
        </a>
          <div class="shape wow fadeInDown"></div>  
        </div> 
        <div class="row" id="models_container">
            {% for item in site.data.kpp %}
              {% if item.first_page == "true" %}
                <div class="col-md-3 col-xs-6">
                  <a href="https://chelnyagregatcentre.ru/kamaz-inf/korobki-peredach-kpp/{{item.url}}.html">
                    <div class="">
                      <img src="https://chelnyagregatcentre.ru/assets/img/kpp/{{item.img}}" alt="{{item.name}}" class="img-thumbnail" />
                      <div style="font-size: 13px;line-height: 15px; padding-top:4px; ">{{item.name}}<br>({{item.model}})</div>
                    </div>
                  </a>
                </div>
              {% endif %}
            {% endfor %}
         </div>
    </div>
  </section>
  

  
  
<section id="catalog" class="section-padding" style="padding-top: 20px; ">
    <div class="container text-center">
      <div class="section-header text-center">
        <a href="/reductor_kamaz_krasnodar.html">
          <h2 class="section-title"> Редукторы КамАЗ</h2>
        </a>
          <div class="shape wow fadeInDown"></div>  
        </div> 
        <div class="row">
          {% for item in site.data.reductor %}
          {% if item.first_page == "true" %}
          <div class="engine col-md-3 col-xs-6">
            <a href="https://chelnyagregatcentre.ru/kamaz-inf/reduktor/{{item.url}}.html">
              <img src="https://chelnyagregatcentre.ru/assets/img/reductor/{{item.img}}" alt="{{item.name}}" class="img-thumbnail"
                style="object-fit: cover;width: 100%;height: 150px;padding: 0px" />
              <div style="font-size: 13px;line-height: 15px; padding-top:4px; ">{{item.name}}<br>({{item.model}})
              </div>
            </a>
          </div>
          {% endif %}
          {% endfor %}
        </div>
        <p> <img src="https://chelnyagregatcentre.ru/assets/img/reductor/kamaz_reductor_01.jpg" alt="Редукторы КамАЗ"/> </p>
        
    </div>
    
    
  </section>
  



  <section id="catalog" class="section-padding" style="padding-top: 20px; ">
    <div class="container text-center">
      <div class="section-header text-center">
        <a href="/reductor_kamaz_krasnodar.html">
          <h2 class="section-title"> Краснодар</h2>
        </a>
          <div class="shape wow fadeInDown"></div>  
        </div> 
        <div class="row">
          <div class="col-md-12">
            <!-- ### start of the gallery definition ### -->
            <div id="nanogallery2" data-nanogallery2 = '{
                  "thumbnailHeight":  240,
                  "thumbnailWidth":   360,
                  "itemsBaseURL":     "assets/img/krasnodar/"
                }' >
                
                <!-- gallery content -->
                <a href = "krasnodar_arka.jpg"   data-ngThumb = "krasnodar_arka.jpg" > Царские ворота </a>
                <a href = "krasnodar_ekaterininski_skver.jpg"   data-ngThumb = "krasnodar_ekaterininski_skver.jpg" > Екатерининский сквер </a>
                <a href = "krasnodar_hram_nevskogo.jpg"   data-ngThumb = "krasnodar_hram_nevskogo.jpg" > Александро-Невский собор </a>
                <a href = "krasnodar_park_galickogo.jpg"   data-ngThumb = "krasnodar_park_galickogo.jpg" > Парк Галицкого </a>
                <a href = "krasnodar_stadion.jpg"   data-ngThumb = "krasnodar_stadion.jpg" > Стадион </a>
                <a href = "krasnodar_teatralnaya_ploschad.jpg"   data-ngThumb = "krasnodar_teatralnaya_ploschad.jpg" > Театральная площадь </a>
                
                
            </div>
            <!-- ### end of the gallery definition ### -->
            
          </div>
          <div class="engine col-md-9 col-xs-12" style="margin: auto;">
       
            
            
          </div>
          
        </div>
       
        
    </div>
    
    
  </section>




{% include advantages.html %}


 {% include napravlenia.html %}
 
 {% include contacts.html %}
 {% include footer.html %}


  <!-- Footer Section End -->

  <!-- Go to Top Link -->
  <a href="#" class="back-to-top">
    <i class="lni-arrow-up"></i>
  </a>


  <!-- jQuery first, then Popper.js, then Bootstrap JS -->

  <script src="/assets/js/popper.min.js"></script>
  <script src="/assets/js/bootstrap.min.js"></script>
  <script src="/assets/js/owl.carousel.min.js"></script>
  <script src="/assets/js/wow.js"></script>
  <script src="/assets/js/jquery.nav.js"></script>
  <script src="/assets/js/scrolling-nav.js"></script>
  <script src="/assets/js/jquery.easing.min.js"></script>
  <script src="/assets/js/jquery.counterup.min.js"></script>
  <script src="/assets/js/waypoints.min.js"></script>
  <script src="/assets/js/main.js"></script>
  <script src="/assets/js/typeahead.bundle.min.js"></script>
  <script src="/assets/js/jquery.nanogallery2.min.js"></script>
  





<!-- Yandex.Metrika counter --> <script type="text/javascript" > (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)}; m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)}) (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym"); ym(57624220, "init", { clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true }); </script> <noscript><div><img src="https://mc.yandex.ru/watch/57624220" style="position:absolute; left:-9999px;" alt="" /></div></noscript> <!-- /Yandex.Metrika counter -->


</body>

</html>