---
layout: default_main
title: Ремонт двигателей КамАЗ в Краснодаре
description: Производим капитальный ремонт двигателей КамАЗ для всей России. Продаем восстановленные двигатели. Обменяем ваш старый двигатель на новый. Ремонт двигателя КАМАЗ 740 евро-2 евро-3 Cummins
metakeywords: Двигатель капремонт ремонтный капитальный ремонт купить обмен цена стоимость
---

  <!-- Header Area wrapper Starts -->
  <header id="header-wrap">
    <div class="head h-100">
      <div class="head__inner h-100">
        <!-- Navbar Start -->
        <nav class="navbar navbar-expand-lg bg-inverse fixed-top scrolling-navbar">
          <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <a href="/" class="navbar-brand" style="display: contents; max-width:60%;">ЧелныАгрегатЦентр - Краснодар</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
              aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
              <i class="lni-menu"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
              <ul class="navbar-nav mr-auto w-100 justify-content-end clearfix" id="top-submenu"  id="top-submenu">
                <li class="nav-item active">
                    <a class="nav-link scroll-link" href="#hero-area">
                        Начало
                      </a>
                </li>
                <!-- задняя часть меню подгружается  -->
                {% include top-submenu.html list=data_list %}
              </ul>
            </div>
          </div>
        </nav>
        <!-- Navbar End -->

        <!-- Hero Area Start -->
        <div id="hero-area" class="hero-area-bg">
          <div class="container w-100">
            <div class="row">
              <div class="col-md-8 col-xs-12">
                <div class="contents">
                  <ul>
                    <li style="margin-bottom:0px;">
                      <h1 class="title text-left w-100">Капитальный ремонт <br><small style="font-weight:200;">двигателей и КПП КамАЗ</small></h1>
                    </li>
                    <li style="margin-top:0px;">
                      <h2 class="title w-100"></h1>
                    </li>
                    <li>&nbsp;</li>
                    <li><i class="lni-check-mark-circle"></i>&nbsp;&nbsp;Выгодный обмен (trade-in) неисправных моторов на новые</li>
                    <li><i class="lni-check-mark-circle"></i>&nbsp;&nbsp;Работаем со всей Россией и Казахстаном</li>
                    <li><i class="lni-check-mark-circle"></i>&nbsp;&nbsp;10 лет опыта, сотни довольных клиентов</li>
                    
                  </ul>
                </div>
              </div>
              <div class="col-md-4 col-xs-12 text-right">
                {% capture data_group %}
                  ["Блок цилиндров ", "Насос водяной ", "Вал коленчатый ", "Гильза-" ]
                {% endcapture %}
                {% capture data_list %}
                  ["Блок цилиндров дв. 740.10/7403.10","Блок цилиндров ЕВРО 1,2 ЯЗДА","Блок цилиндров ЕВРО 2,3 Bosch","Вал коленчатый КАМАЗ ДВС .10/7403","Вал коленчатый КАМАЗ Евро-1","Вал коленчатый КАМАЗ Евро-2 .31","Вал коленчатый КАМАЗ Евро-2 .30","Вал коленчатый КАМАЗ Евро-2 50/51","Вал коленчатый КАМАЗ Евро-3","Вал коленчатый КАМАЗ Евро-3","Вал коленчатый КАМАЗ Евро-3","Гильза-палец-поршень-кольца (ЦПГ)","Гильза-палец-поршень-кольца (ЦПГ)","Гильза-палец-поршень-кольца (ЦПГ)","Шатун","Насос водяной КАМАЗ","Насос водяной КАМАЗ-ЕВРО","Насос водяной КАМАЗ ЕВРО-2"]
                {% endcapture %}
                {% include header_zakaz.html list=data_list group=data_group %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Hero Area End -->

  </header>



  <section id="projects" class="section-padding articles">
      <div class="container">
          <div class="text-center justify-content-center">
              <div class="section-header">
                  <h1 class="section-title">Капитальный ремонт в Краснодаре</h1>
                  <div class="shape wow fadeInDown"></div>
              </div>
          </div>
          
    <div class="row text-center">
        <div class="engine col-md-4 col-xs-12 text-center">
            <h5 style="min-width: 3em;">Качественный результат. <br> Гарантия 6 мес. </h5>
            
          <div class="text-center" >
            <img src="assets/img/dvigatels/engine_1.jpg" alt="Капитальный ремонт двигателя КамАЗ"
              style="max-width:280px;object-fit: cover; height: 180px;" class="img-thumbnail" />
            
          </div>
        </div>

        <div class="engine col-md-4 col-xs-12  text-center">
            <h5 style="min-width: 3em;">Только оригинальные запчасти, купленные на заводе КамАЗ</h5>
          <div class="text-center" >
            <img src="assets/img/projects/parts.jpg" alt="Оригинальные запчасти КамАЗ для ремонта двигателей"
            style="max-width:280px;object-fit: cover; height: 180px;"
            class="img-thumbnail" />
            
          </div>
        </div>

        <div class="engine col-md-4 col-xs-12  text-center">
            <h5 style="min-width: 3em;">Высококвалифицированные специалисты.</h5>
          <div class="text-center">
            <img src="assets/img/projects/repair_400.jpg" alt="Оригинальные запчасти КамАЗ для ремонта двигателей"
            style="max-width:280px;object-fit: cover; height: 180px;"  class="img-thumbnail" />
            
          </div>
        </div>

    </div>


    <!-- Описание ремонта -->
    <div class="row">
    
      <div class="col-md-1 "></div>
      <div class="col-md-4 ">
    
        <br>
        <h3>Список работ: </h3> <br>
        - ремонт коленчатого вала<br>
        - ремонт блока цилиндров<br>
        - ремонт твнд<br>
        - замена поршневой<br>
        - замена маховика <br>
        - ремонт шатунов<br>
        - замена водяного насоса <br>
        - замена генератора<br>
        - ремонт компрессора<br>
        - ремонт кулисы<br>
        - замена картер масляный<br>
        - ремонт насоса гура<br>
        - использование только качественного РТИ <br>
        - ремонт головки блока <br>
        - замена коллекторов двигателя <br>
        - транспортировка двигателя </p>
    
        <br>
        <strong> Экологический классы:</strong><br>
        Евро 0 - Старые модели моторов;<br>
        Евро 1 - Турбо до 2002 года без интеркулера;<br>
        Евро 2 - Турбо с интеркулером;<br>
        Евро 3 - Аппаратура электронная (БОШ) .<br>
        <br>
    
      </div>
    
      <div class="col-md-6 ">
        <br>
        <h3>Стоимость ремонта двигателя КамАЗ : </h3> <br>
        - Двигатель 740 – от 135'000 руб.<br>
        - Класс евро 1 – от 170'000 руб.<br>
        - Класс евро 2 – от 190'000 руб.<br>
        - Класс евро 3 – от 290'000 руб.</p>
        <br>
        <p>Цена ремонта зависит от нескольких факторов:<br>
          - общее состояние двигателя.<br>
          - состояние навесного оборудования;<br>
          - необходимый вид ремонта (капитальный, техосмотр).</p>
        <br>
        <i class="lni-check-mark-circle"></i> &nbsp;Сначала двигатель КАМАЗ разбирается, проводится дефектовка,
        определяются список запчастей.<br />
        <i class="lni-check-mark-circle"></i>&nbsp;Используются только оригинальные, закупаемые в ООО «АвтоЗапчасть КАМАЗ»
        (дочернаяя компания ПАО "КамАЗ") <br />
        <i class="lni-check-mark-circle"></i>&nbsp; Все запчасти для ремонта в наличии. <br />
    
        <br>
        <strong>Частые причины неисправностей: </strong> <br>
        <p>Ремонт двигателя КамАЗ производится по нескольким причинам:<br>
          - использование некачественных горюче-смазочных материалов.</p>
        - работа двигателя без техосмотра и ремонта.<br>
        - эксплуатация в агрессивных условиях.<br>
    
    
      </div>
      <p> <img src="/assets/img/dvigatels/remont/kamaz_dvigatel_remont_21.jpg" alt="Редукторы КамАЗ"/> </p>
      <p> <img src="/assets/img/dvigatels/remont/kamaz_dvigatel_remont_10.jpg" alt="Редукторы КамАЗ"/> </p>
    </div>
</div>

      </div>
  </section>




  <section id="priemyshestva" class="section-padding  bg-gray">
      <div class="container text-center justify-content-center">
        <div class="section-header">
          <h1>Преимущества</h1>
        </div>
        <div class="section-header">
  
          <!-- <h1 class="section-title wow fadeInDown">Нащи преимущества</h1> -->
          <div class="shape wow fadeInDown"></div>
          <div class="about-area">
            <div class="row">
                <div class="col-lg-3 col-md-4 col-xs-12 priemyshestva">
                    <i class="lni-map"></i>
                      Большой опыт в ремонте двигателей</div>
              <div class="col-lg-3 col-md-4 col-xs-12 priemyshestva">
                  <i class="lni-medall"></i>
                  <!-- <img src="assets/img/feature/warranty.png"></i> -->
                  Гарантия <br>на все агрегаты</div>
              <div class="col-lg-3 col-md-4 col-xs-12 priemyshestva">
                  <i class="lni-users"></i>
                <!-- <img src="assets/img/feature/customer.png"> -->
                Сотни довольных клиентов</div>
              <div class="col-lg-3 col-md-4 col-xs-12 priemyshestva">
                  <i class="lni-delivery"></i>
                <!-- <img src="assets/img//feature/delivery.png"> -->
                Работа <be>по всей России</div>
            </div>
          </div>
        </div>

        <div class="row justify-content-center">
          <div class="col-lg-10">
            <div class="about-area">
              <div class="site-heading text-center">
                <!-- <h2 class="section-title">О компании</h2> -->
              </div>
              <div class="content" style="padding-top:3em;">
                <div class="blog-lg-area-left">
                  <p style="text-align: justify;font-size: 1.2em;">«ЧелныАгрегатЦентр» более десяти лет
                    специализируется на ремонте двигателей КамАЗ и оптовой торговле запасными частями для автомобилей КамАЗ.
                    </p>
                
              </div>
            </div>
          </div>
        </div>
      </div>
      <p> <img src="/assets/img/dvigatels/remont/kamaz_dvigatel_remont_53.jpg" alt="Ремонт двигателей КамАЗ"/> </p>
      <p> <img src="/assets/img/dvigatels/remont/kamaz_dvigatel_remont_28.jpg" alt="Ремонт двигателей КамАЗ 2"/> </p>
      </div>
    </section>



  <section id="projects" class="section-padding">
    <div class="container">
        <div class="text-center justify-content-center">
            <div class="section-header">
                <h1 class="section-title">Порядок ремонта двигателей </h1>
                <div class="shape wow fadeInDown"></div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div>
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/7Sv0d2nS7VA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>

          <div class="col-md-6" style="padding-left: 35px;">
          <h5>1. Дефектовка</h5>
          <p>Мотор разбирается полностью, на спец.оборудовании проверяется постели блока и шейки коленчатого вала.
            Блок тщательно проверяется на наличие трещин и дефектов. Только после этого, начинается его подготовка к сборке.</p>
          
          <h5>2. Сборка</h5>
          <p>Сборка производится на подготовленных стендах. Каждая деталь перед установкой проверяется на качество и отсутствие
            брака. Мотор полностью собирается и устанавливается на проверочный стенд.</p>
          
          <h5>3. Тестирование и обкатка</h5>
          <p>Большое внимание уделяется проверке отремонтированного двигателя КАМАЗ на стабильную работу. 
            Время проверки агрегата может занимать до суток. <br>При отсутствии проблем мотор проходит обкатку и последующую
            покраску.</p>
          </div>
          <div class="col-md-12" style="height: 60px;">&nbsp;</div>
          <a href="/kamaz-inf/dvigatel-740.html">подробно о двигателях камаз серии 740</a>
        </div>
        <p> <img src="/assets/img/dvigatels/remont/kamaz_dvigatel_remont_15.jpg" alt="Редукторы КамАЗ"/> </p>
        <p> <img src="/assets/img/dvigatels/remont/kamaz_dvigatel_remont_23.jpg" alt="Редукторы КамАЗ"/> </p>
    </div>
</section>


{% include advantages.html %}
{% include napravlenia.html %}
