---
layout: default_main
title: Запчасти на коробки передач КамАЗ в Краснодаре - ЧелныАгрегатЦентр 
description: Большой ассортимент запчастей для коробок передач КПП 152 154 14 15 141 c быстрой доставкой по Краснодарскому краю. 
metakeywords: запчасти коробка передач кпп 152 154 15 14 141 142 краснодар
---

    <!-- Header Area wrapper Starts -->
    <header id="header-wrap">
        <div class="head h-100">
            <div class="head__inner h-100">
                <!-- Navbar Start -->
                <nav class="navbar navbar-expand-lg bg-inverse fixed-top scrolling-navbar">
                    <div class="container">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <a href="/" class="navbar-brand" style="display: contents; max-width:60%;">ЧелныАгрегатЦентр - Краснодар</a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse"
                            data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false"
                            aria-label="Toggle navigation">
                            <i class="lni-menu"></i>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarCollapse">
                            <ul class="navbar-nav mr-auto w-100 justify-content-end clearfix" id="top-submenu">
                                <li class="nav-item active">
                                    <a class="nav-link" href="javascript:"
                                        onclick="$('html, body').animate({ scrollTop: 0}, 600);">
                                        Начало
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#catalog">
                                        Каталог
                                    </a>
                                </li>
                                <!-- задняя часть меню подгружается  -->
                                {% include top-submenu.html %}
                            </ul>
                        </div>
                    </div>
                </nav>
                <!-- Navbar End -->

                <!-- Hero Area Start -->
                <div id="hero-area" class="hero-area-bg">
                    <div class="container w-100">
                        <div class="row">
                            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                                <div class="contents">
                                    <ul>
                                        <li style="margin-bottom:0px;">
                                            <h1 class="title text-left w-100">Запчасти к КПП КамАЗ </h1>
                                        </li>
                                        <li style="margin-top:0px;">
                                            <h2 class="title w-100">со склада в Краснодаре  </h2>
                                          </li>
                                        <li>&nbsp;</li>
                                        <li><i class="lni-check-mark-circle"></i>&nbsp;&nbsp;Быстрая доставка под заказ</li>
                                        <li><i class="lni-check-mark-circle"></i>&nbsp;&nbsp;В наличии в Краснодаре, Москве, Наб.Челнах</li>
                                        <li><i class="lni-check-mark-circle"></i>&nbsp;&nbsp;10 лет на рынке </li>
                                        <li></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-4 col-xs-12 text-right">
                                {% capture data_group %}
                                    ["Вал вторичный ", "Вал первичный ", "Вал промежуточный ", "Втулка ", "Крышка ", "Кулиса ", "Блок шестерен "]
                                {% endcapture %}
                                {% capture data_list %}
                                    ["Вал вторичный КПП (ПАО Камаз)", "Вал вторичный в сборе КПП-14 (ПАО Камаз)", "Вал первичный делителя 044 КПП-152 (ПАО Камаз)", "Вал первичный 027 КПП-152 в СБОРЕ (ПАО Камаз)",
                                     "Вал промежуточный КПП с консервации", "Втулка промежуточная (на 115 шест) (ПАО Камаз)", 
                                     "Втулка (на 105 вал)", "Втулка (105 вала, 1 передачи) 154-КПП", "Втулка (105 вала, 4 передачи) (ПАО Камаз)", "Втулка делителя (на 044 вал) (ПАО Камаз) 15-1770086", "Втулка делителя (на 044 вал) КПП-154 (ПАО Камаз)", "Втулка (027 вала) (ПАО Камаз)", "Втулка кулисы Евро", "Втулка кулисы Евро (фторопласт)", 
                                     "Крышка верхняя делителя (ПАО Камаз)", "Крышка заднего подшипника КПП (ПАО Камаз)", "Крышка заднего подшипника КПП (на 4310) без отверстия", "Крышка заднего подшипника КПП-154 (ПАО Камаз)", "Крышка заднего подшипника КПП-154 в сб", 
                                     "Крышка КПП (ГОЛАЯ) (ПАО Камаз)", "Крышка КПП боковая (ПАО Камаз) 6 отверстий", 
                                     "Крышка первичного вала делителя (Чебоксары)", "Крышка первичного вала делителя (кольцо) на КПП", "Крышка переднего подшипника промежуточного вала делителя (не завод)", "Крышка переднего подшипника (048 вала) (ПАО Камаз)", 
                                     "Кулиса в сборе 6460 (ПАО Камаз)", "Кулиса в сборе на КПП ZF", "Кулиса в сборе на КПП-14 (без делителя)", "Кулиса в сборе на КПП-15", "Кулиса в сборе на КПП-15 (ПАО Камаз)", "Кулиса в сборе на КПП-154 (ПАО Камаз)", "Кулиса в сборе на КПП-14 с ломом (без делителя)", "Кулиса в сборе на КПП-15 с ломом", 
                                     "Блок шестерен заднего хода (ПАО Камаз) 14-1701082"]
                                {% endcapture %}
                                {% include header_zakaz.html list=data_list group=data_group %}
                            </div>       
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Hero Area End -->

    </header>
    <section id="catalog" class="section-padding">
        <div class="container">
            <div class="text-center justify-content-center">
                <div class="section-header">
                    <h1 class="section-title">Запчасти к двигателям КамАЗ </h1>
                    <div class="shape wow fadeInDown"></div>
                    <!-- <div>Сайт находится в разработке. Цены уточняйте по телефону. </div> -->
                </div>
            </div>
            <div class="row">

                <!-- Services item -->
                <div class="col-md-6 col-lg-4 col-xs-12">
                    <a href="#kulisa">
                        <div class="services-item" style="visibility: visible;">
                            <div class="services-content" style="max-height: 126px; height: 100%;">
                                <h3>Кулисы</h3>
                                <p>Все кулисы на технику КамАЗ со склада.<br> </p>
                                <!-- Мы продаём только качественные двигатели с гарантией и документами -->
                            </div>
                        </div>
                    </a>
                </div>

                <!-- Services item -->
                <div class="col-md-6 col-lg-4 col-xs-12">
                    <a href="#krushka">
                        <div class="services-item" style="visibility: visible;">
                            <div class="services-content" style="max-height: 126px; height: 100%;">
                                <h3>Крышки валов двигателей</h3>
                                <p>на КамАЗ любой модели, всегда в наличии</p>
                            </div>
                        </div>
                    </a>
                </div>

                <!-- Services item -->
                <div class="col-md-6 col-lg-4 col-xs-12">
                    <a href="#vtulka">
                    <div class="services-item" style="visibility: visible; ">
                        <div class="services-content">
                            <h3>Втулки</h3>
                            <p>
                                для кпп КамАЗ, с гарантией
                            </p>
                        </div>
                    </div>
                    </a>
                </div>
            </div>

            <div class="row justify-content-center" style="padding-top: 20px;">
                <div class="col-md-1"></div>
                <div class="col-md-10">
                    <div class="w-100 text-center">
                        <h3>Прайс-лист</h3>
                        <a href=""> скачать прайс-лист</a>
                    </div>
                    <table class="w-100">
                        <tr class="bg-gray1" align="center" style="border-bottom: 1px solid rgb(173, 173, 173); color: #2a8aea">
                            <td class="text-center">Вал первичный/вторичный</td>
                            <td></td>
                            <td></td>
                        </tr>

                        <tr style="border-bottom: 1px solid rgb(173, 173, 173)">
                            <td>Вал вторичный КПП (ПАО Камаз)</td>
                            <td>14-1701105</td>
                            <td>6 390,09p</td>
                        </tr>
                        <tr style="border-bottom: 1px solid rgb(173, 173, 173)">
                            <td>Вал вторичный в сборе КПП-14 (ПАО Камаз)</td>
                            <td>14-1701100</td>
                            <td>43 656,00p</td>
                        </tr>
                        <tr style="border-bottom: 1px solid rgb(173, 173, 173)">
                            <td>Вал первичный делителя 044 КПП-152 (ПАО Камаз)</td>
                            <td>152-1770044</td>
                            <td>3 444,10p</td>
                        </tr>
                        <tr style="border-bottom: 1px solid rgb(173, 173, 173)">
                            <td>Вал первичный 027 КПП-152 в СБОРЕ (ПАО Камаз)</td>
                            <td>152-1701025</td>
                            <td>9 405,00p</td>
                        </tr>
                        <tr style="border-bottom: 1px solid rgb(173, 173, 173)">
                            <td>Вал промежуточный КПП с консервации </td>
                            <td>14-1701048</td>
                            <td>5 494,50p</td>
                        </tr>
                        <tr style="border-bottom: 1px solid rgb(173, 173, 173)">
                            <td>Втулка промежуточная (на 115 шест) (ПАО Камаз) </td>
                            <td>14-1701143</td>
                            <td>107,25p</td>
                        </tr>
                        <tr class="bg-gray1" style="border-bottom: 1px solid rgb(173, 173, 173); color: #2a8aea"
                            id="vtulka">
                            <td class="text-center">Втулки двигателя</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr class="stroka" style="border-bottom: 1px solid rgb(173, 173, 173)">
                            <td>Втулка (на 105 вал)</td>
                            <td>14-1701282</td>
                            <td>379,50p</td>
                        </tr>
                        <tr class="stroka" style="border-bottom: 1px solid rgb(173, 173, 173)">
                            <td>Втулка (105 вала, 1 передачи) 154-КПП </td>
                            <td>154-1701282</td>
                            <td>1 056,00p</td>
                        </tr>
                        <tr class="stroka" style="border-bottom: 1px solid rgb(173, 173, 173)">
                            <td>Втулка (105 вала, 4 передачи) (ПАО Камаз)</td>
                            <td>14-1701139</td>
                            <td>623,70p</td>
                        </tr>
                        <tr class="stroka" style="border-bottom: 1px solid rgb(173, 173, 173)">
                            <td>Втулка делителя (на 044 вал) (ПАО Камаз) 15-1770086</td>
                            <td>15-1770086</td>
                            <td>1 173,15p</td>
                        </tr>
                        <tr class="stroka" style="border-bottom: 1px solid rgb(173, 173, 173)">
                            <td>Втулка делителя (на 044 вал) КПП-154 (ПАО Камаз)</td>
                            <td>154-1770086</td>
                            <td>834,35p</td>
                        </tr>
                        <tr class="stroka" style="border-bottom: 1px solid rgb(173, 173, 173)">
                            <td>Втулка (027 вала) (ПАО Камаз) </td>
                            <td>14-1701043</td>
                            <td>65,45p</td>
                        </tr>
                        <tr class="stroka" style="border-bottom: 1px solid rgb(173, 173, 173)">
                            <td>Втулка кулисы Евро </td>
                            <td>161-1703220</td>
                            <td>286,00p</td>
                        </tr>
                        <tr class="stroka" style="border-bottom: 1px solid rgb(173, 173, 173)">
                            <td>Втулка кулисы Евро (фторопласт) </td>
                            <td>161-1703221</td>
                            <td>82,50p</td>
                        </tr>
                        <tr class="bg-gray1" style="border-bottom: 1px solid rgb(173, 173, 173); color: #2a8aea"
                            id="krushka">
                            <td class="text-center">Крышки валов двигателей</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr class="stroka" style="border-bottom: 1px solid rgb(173, 173, 173)">
                            <td>Крышка верхняя делителя (ПАО Камаз) </td>
                            <td>15-1770036</td>
                            <td>134,75p</td>
                        </tr>
                        <tr class="stroka" style="border-bottom: 1px solid rgb(173, 173, 173)">
                            <td>Крышка заднего подшипника КПП (ПАО Камаз) </td>
                            <td>14-1701205</td>
                            <td>1 810,05p</td>
                        </tr>
                        <tr class="stroka" style="border-bottom: 1px solid rgb(173, 173, 173)">
                            <td>Крышка заднего подшипника КПП (на 4310) без отверстия </td>
                            <td>14-1701205</td>
                            <td>405,00p</td>
                        </tr>
                        <tr class="stroka" style="border-bottom: 1px solid rgb(173, 173, 173)">
                            <td>Крышка заднего подшипника КПП-154 (ПАО Камаз)</td>
                            <td>154-1701074-10</td>
                            <td>748,00p</td>
                        </tr>
                        <tr class="stroka" style="border-bottom: 1px solid rgb(173, 173, 173)">
                            <td>Крышка заднего подшипника КПП-154 в сб</td>
                            <td>154-1701201</td>
                            <td>4 694,80p</td>
                        </tr>
                        <tr class="stroka" style="border-bottom: 1px solid rgb(173, 173, 173)">
                            <td>Крышка КПП (ГОЛАЯ) (ПАО Камаз) </td>
                            <td>14-1702015</td>
                            <td>648,00</td>
                        </tr>
                        <tr class="stroka" style="border-bottom: 1px solid rgb(173, 173, 173)">
                            <td>Крышка КПП боковая (ПАО Камаз) 6 отверстий </td>
                            <td>14-1701020</td>
                            <td>201,85p</td>
                        </tr>
                        <tr class="stroka" style="border-bottom: 1px solid rgb(173, 173, 173)">
                            <td>Крышка первичного вала делителя (Чебоксары)</td>
                            <td>14-1701040</td>
                            <td>842,40</td>
                        </tr>
                        <tr class="stroka" style="border-bottom: 1px solid rgb(173, 173, 173)">
                            <td>Крышка первичного вала делителя (кольцо) на КПП</td>
                            <td>154-1701040</td>
                            <td>1 340,35</td>
                        </tr>
                        <tr class="stroka" style="border-bottom: 1px solid rgb(173, 173, 173)">
                            <td>Крышка переднего подшипника промежуточного вала делителя (не завод)</td>
                            <td>15-1770244</td>
                            <td>746,90</td>
                        </tr>
                        <tr class="stroka" style="border-bottom: 1px solid rgb(173, 173, 173)">
                            <td>Крышка переднего подшипника (048 вала) (ПАО Камаз)</td>
                            <td>14-1701068</td>
                            <td>845,90</td>
                        </tr>
                        <tr class="bg-gray1" style="border-bottom: 1px solid rgb(173, 173, 173); color: #2a8aea"
                            id="kulisa">
                            <td class="text-center">Кулиса</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr class="stroka" style="border-bottom: 1px solid rgb(173, 173, 173)">
                            <td>Кулиса в сборе 6460 (ПАО Камаз) </td>
                            <td>6460-1703204</td>
                            <td>12 305,00p</td>
                        </tr>
                        <tr class="stroka" style="border-bottom: 1px solid rgb(173, 173, 173)">
                            <td>Кулиса в сборе на КПП ZF</td>
                            <td>18201-1703007</td>
                            <td>10 080,00p</td>
                        </tr>
                        <tr class="stroka" style="border-bottom: 1px solid rgb(173, 173, 173)">
                            <td>Кулиса в сборе на КПП-14 (без делителя) </td>
                            <td>14-1703204</td>
                            <td>2 145,00p</td>
                        </tr>
                        <tr class="stroka" style="border-bottom: 1px solid rgb(173, 173, 173)">
                            <td>Кулиса в сборе на КПП-15 </td>
                            <td>15-1703204</td>
                            <td>3 029,40p</td>
                        </tr>
                        <tr class="stroka" style="border-bottom: 1px solid rgb(173, 173, 173)">
                            <td>Кулиса в сборе на КПП-15 (ПАО Камаз) </td>
                            <td>15-1703204</td>
                            <td>15 210,59p</td>
                        </tr>
                        <tr class="stroka" style="border-bottom: 1px solid rgb(173, 173, 173)">
                            <td>Кулиса в сборе на КПП-154 (ПАО Камаз) </td>
                            <td>154-1703005</td>
                            <td>10 120,00p</td>
                        </tr>
                        <tr class="stroka" style="border-bottom: 1px solid rgb(173, 173, 173)">
                            <td>Кулиса в сборе на КПП-14 с ломом (без делителя) </td>
                            <td>14-1703006</td>
                            <td>2 376,00p</td>
                        </tr>
                        <tr class="stroka" style="border-bottom: 1px solid rgb(173, 173, 173)">
                            <td>Кулиса в сборе на КПП-15 с ломом </td>
                            <td>15-1703006</td>
                            <td>2 530,00p</td>
                        </tr>

                        <tr class="stroka" style="border-bottom: 1px solid rgb(173, 173, 173)">
                            <td>Блок шестерен заднего хода (ПАО Камаз) 14-1701082</td>
                            <td>14-1701082</td>
                            <td>2 449,70p</td>
                        </tr>

                    </table>
                </div>
            </div>
            <div class="row text-left articles">
                <div class="col-md-1"></div>
                <div class="col-md-10" id="kupite">
                    {% include kupite_u_nas.html %}
                </div>

    </section>

    {% include advantages.html %}

    {% include napravlenia.html %}