<iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A2605d8f36a4696581e7b4dea3cea9f3f4fcd53e3938b65c08a0d079d9a5f98e3&amp;source=constructor" width="100%" height="350" frameborder="0"></iframe>

<div id="copyright">
    <div class="container">
      <div class="row">
        <div class="copyright-content">
          <ul class="list-inline">
            <li class="list-inline-item">
                <p>© 2009 <a href="https://chelnyagregatcentre.ru/chelny_agregat_center_000.html"> Челны Агрегат Центр </a>, Все права защищены 
                </p>
            </li>
            <li class="list-inline-item">
              <!-- <p><a href="javascript:" class="nal-link" data-toggle="modal" data-target="#policy">Лицензионное
                  соглашение</a>
              </p> -->
            </li>
            <li class="list-inline-item">
              <!-- <p><a href="#~" class="nal-link" data-toggle="modal" data-target="#policy">Политика
                  конфиденциальности</a></p> -->
            </li>
          </ul>
          
          
          
          <small style="line-height:0.8em;">Данный сайт носит исключительно информационный характер и не является публичной офертой, определяемой в ст.437 ГК&nbsp;РФ.
              <br> Цены и информация могут быть устаревшими. Копирование информации с сайта запрещено.</small>
             
        </div>
      </div>
    </div>
  </div>


<!-- Yandex.Metrika counter --> <script type="text/javascript" > (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)}; m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)}) (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym"); ym(57624220, "init", { clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true }); </script> <noscript><div><img src="https://mc.yandex.ru/watch/57624220" style="position:absolute; left:-9999px;" alt="" /></div></noscript> <!-- /Yandex.Metrika counter -->