  <div class="contents_2">
    <h3 class="title" style='padding-bottom: 0px;margin-bottom: -5px;'><span style="color:lightgray">8
      </span><a href="tel:+79872322335" class="color_unset" >(987) 232-23-35</a> </h3>
    <a href="mailto:agregat-16@yandex.ru" id="header_open_call" class="small">agregat-16@yandex.ru</a>
  </div>
  <br />
  <form action="" style="width: 240px;float: right;">

    <div class="form-group " id='default-suggestions'>
      <div class="title" style="color:lightgray; padding-bottom:1em;">запросить предложение</div>

      <input type="tel" class="form-control" id="input_contact" placeholder="ваш телефон или email"
        name="phone" required autocomplete="tel"
        onchange="$('#btnSend').addClass('btn-primary');$('#btnSend').removeClass('btn-outline-primary');">
      <input class="typeahead form-control" type="text" placeholder="укажите..." id="select">
      <a id="request_comment_link" href="javascript:"
        onclick="$('#request_comment_link').addClass('hidden'); $('#request_comment').removeClass('hidden');"
        class="small" style="color:lightgray;">добавить комментарий </a>
      <textarea id="request_comment" class="form-control hidden" placeholder="комментарий"
        rows="3"></textarea>
    </div>
    <input id="btnSend" onclick="send_request( $('#select').val(), $('#input_contact').val(), $('#request_comment').val());" class="btn btn-sm btn-outline-primary" type="button"
      value="отправить">

    <!-- script для typeahaed  -->
    <script>
      // происходит только после загрузки 
      $(document).ready(function () {
        // присваивает переменной спец.объект, в котором можно задать правила чтения данных, в том числе JSON.
        var dvigatels = new Bloodhound({
          datumTokenizer: Bloodhound.tokenizers.whitespace,
          queryTokenizer: Bloodhound.tokenizers.whitespace,
          // prefetch: 'models.json'
          local: {{ include.list }}
        });
        // функция которая будет выполняться - когда нужна подстановка
        function dvigatelsWithDefaults(q, sync) {
          // если текст не был набран - покажет список по-умолчанию
          if (q === '') {
            sync( {{ include.group }} );
          }
          // если был набран текст - поищет
          else {
            dvigatels.search(q, sync);
          }
        }
        $('#default-suggestions .typeahead').typeahead({
                minLength: 0,
                highlight: true
            },
                {
                    name: 'dvigatels',
                    limit: 8,
                    source: dvigatelsWithDefaults // если здесь указать просто переменную dvigatels - будет просто подсказка по набранному, 
                    // а у нас стоит спец.функция, которая может указать
                }).on('typeahead:close', function (evt, data) {
                    
                    var groups = {{ include.group }};
                    var not_need = {% if include.groups_only %} true {% else %} false {% endif %};
                    
                    if(groups && (!(not_need == true)) && groups.indexOf(evt.currentTarget.value) !== -1 ){
                        // evt.preventDefault();
                        $("#default-suggestions .typeahead").trigger("focus");
                    }

                });
      });
    
    </script>

  </form>
