<div style="clear: both;"></div>

<div>
  <hr>
   
  <p><strong>Почему лучше купить у нас :</strong></p>

  <table class="table w-100">
      <tbody>
        <tr>
          <td><i class="lni-check-mark-circle"></i></td>
          <td> Мы предоставляем гарантию на все реализованные агрегаты. Наши менеджеры помогут Вам определиться с нужной
              модификацией.
          </td>
        </tr>
        <tr>
          <td><i class="lni-check-mark-circle"></i></td>
          <td> 
              Никакой 100% предоплаты. Оплата после осмотра товара. 
          </td>
        </tr>
        <tr>
          <td><i class="lni-check-mark-circle"></i></td>
          <td>Доступные цены и высокое качество товара. Cкидки постоянным клиентам.</td>
        </tr>
        <tr>
          <td><i class="lni-check-mark-circle"></i></td>
          <td> Быстрая доставка покупки в нужный город.<br> Доставка в отдельные города осуществляется бесплатно.</td>
        </tr>
      </tbody>
    </table>

  <p><strong>Чтобы купить необходимо: </strong></p>
  <table class="table w-100">
    <tbody>
      <tr>
        <td><i class="lni-check-mark-circle"></i></td>
        <td> Позвонить по телефону <strong><a href="tel:+79892849335" class="color_unset" >+7 (989) 284-93-35</a></strong> <br>
          при это Вам следует уточнить: - модель автомобиля и его год выпуска - модель агрегата , класс экологии Евро, мощность.
        </td>
      </tr> 
      <tr>
        <td><i class="lni-check-mark-circle"></i></td>
        <td> Прислать реквизиты на электронную почту <span><a
              href="mailto:agregat-16@yandex.ru">agregat-16@yandex.ru</a></span>. </td>
      </tr>
      <tr>
        <td><i class="lni-check-mark-circle"></i></td>
        <td> Продажа оформляется подписанием договора купли-продажи. Вносится предоплата. </td>
      </tr>
      <tr>
        <td><i class="lni-check-mark-circle"></i></td>
        <td> Доставка осуществляется транспортными перевозчиками, либо нашими силами. <br>
          Перед оплатой Вы сможете осмотреть и проверить агрегат на пункте доставки <br>
          После осмотра, вы производите оплату и получаете товар.</td>
      </tr>
    </tbody>
  </table>

</div>