<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown22" role="button" data-toggle="dropdown"
    aria-haspopup="true" aria-expanded="true">
    Направления
  </a>
  <div class="dropdown-menu" aria-labelledby="navbarDropdown22">
    <a class="dropdown-item" href="/dvigatel_kamaz_krasnodar.html">Двигатели на КамАЗ</a>
    <a class="dropdown-item" href="/reductor_kamaz_krasnodar.html">Редукторы</a>
    <a class="dropdown-item" href="/korobka_peredach_kpp_kamaz_krasnodar.html">Коробки передач</a>
    <a class="dropdown-item" href="/zapchasti_dvigatel_kamaz_krasnodar.html">Запчасти к  двигателям <br><small>(валы, блоки, насосы)</small> </a>
    <a class="dropdown-item" href="/zapchasti_kpp_kamaz_krasnodar.html">Запчасти к КПП </a>
    <a class="dropdown-item" href="/cabiny_kamaz_krasnodar.html">Кабины</a> 
    <!-- <div class="dropdown-divider"></div> -->
    <a class="dropdown-item" href="/remont_dvigately_krasnodar.html">Ремонт двигателей</a>
    <a class="dropdown-item" href="https://chelnyagregatcentre.ru/chelny_agregat_center_000.html">Реквизиты</a>
    
  </div>
</li>

<li class="nav-item">
  <a class="nav-link scroll-link" href="#contact">
    Контакты
  </a>
</li>

<li class="nav-item">
  <a class="nav-link scroll-link" href="tel:+79872322335">
    <span style="font-size:20px; font-weight: 200;">(987) 232-23-35</span>
  </a>
</li>