
.characteristic__name {
    display: table-cell;
    padding: 10px;
    font-size: 25px;
}
.charasteritstic__value {
    display: table cell;
    padding: 10px;
    font-size: 25px;
}
.characteristic__row {
    display: table-row;
}
.characteristic__table {
    display: table;
    padding: 5px;
}
.services {
    text-align: center;
    padding-top: 25px;
}